.Banner_banner-wrapper {
  background-color: rgb(23, 23, 23);
  padding-top: 30px;
  margin-bottom: 91px;

  @media only screen and (max-width: 1440px) {
    margin-bottom: 60px;
  }
}

.Banner_container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  max-width: 1580px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  box-sizing: border-box;

  @media only screen and (max-width: 1600px) {
    padding: 0 81px;
  }

  @media only screen and (max-width: 1360px) {
    padding: 0 60px;
  }

  @media only screen and (max-width: 991px) {
    padding: 0 30px;
  }
}

.Banner_contentArea {
  width: 595px;
  padding-right: 88px;

  @media only screen and (max-width: 1600px) {
    width: 560px;
  }

  @media only screen and (max-width: 1360px) {
    width: 40%;
  }

  @media only screen and (max-width: 1200px) {
    width: 45%;
  }

  h1,
  p {
    color: rgb(198, 198, 198);
  }
  .react-reveal {
    // opacity: 0;
  }

  .Banner_Text {
    display: flex;
    align-items: center;
    max-width: 334px;
    width: 100%;
    min-height: 28px;
    border-radius: 80px;
    padding: 3px 28px 3px 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(13, 13, 13);
    margin: 0px 0 40px;

    strong {
      display: inline-flex;
      align-items: center;
      min-width: 51px;
      min-height: 20px;
      padding: 3px 11px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0;
      color: rgb(25, 25, 25);
      background-color: rgb(253, 239, 0);
      margin-right: 10px;
      font-weight: 'Roboto';
    }
  }

  .Banner_title {
    margin-bottom: 30px;
    color: rgb(198, 198, 198);
    margin-top: 0;
    font-weight: bold;
  }

  .Text_Wrapper {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .Banner_FormWrapper {
    margin-top: 45px;

    .Banner_inputField {
      position: relative;

      input {
        padding-left: 34px !important;
        font-size: 16px;
        padding: 11px;
        display: block;
        width: 100%;
        color: rgb(72, 72, 72);
        box-shadow: none;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid rgb(235, 235, 235);
        transition: border-color 0.2s ease 0s;
        background-color: white;
        margin-bottom: 0;

        &:focus {
          border-color: rgb(253, 239, 0);
          outline: none;
        }
        &::placeholder {
          color: rgb(23, 23, 23);
        }
      }

      .left-icon {
        position: absolute;
        left: 0;
        right: auto;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 40px;
      }

      i {
        display: inline-block;
      }

      svg {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .Banner_ButtonGroup {
      margin-top: 50px;

      button {
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 48px;
        min-width: 48px;
        text-transform: uppercase;
        font-family: 'Roboto';
        font-size: 14px;
      }

      .Button_1 {
        margin-right: 20px;
        padding: 10px 20px;
        border: 0px rgb(253, 239, 0);
        transition: all 0.3s ease 0s;
        color: rgb(25, 25, 25);
        background-color: rgb(253, 239, 0);
      }

      .Button_2 {
        color: rgb(198, 198, 198);
        padding: 0;
        height: auto;
        background-color: transparent;
        border: 0px;
      }

      .btn-text {
        padding-left: 5px;
        padding-right: 5px;
      }

      .btn-icon {
        display: flex;
      }
    }
  }
}

.Banner_CarouselArea {
  width: calc(100% - 595px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 1600px) {
    width: calc(100% - 560px);
  }

  @media only screen and (max-width: 1360px) {
    width: 60%;
  }

  @media only screen and (max-width: 1200px) {
    width: 55%;
  }

  .glide_slider {
    position: relative;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    white-space: nowrap;

    .glide_slide {
      height: 100%;
      flex-shrink: 0;
      white-space: normal;
    }

    .item_wrapper {
      display: block;
      height: 100vh;
      overflow: hidden;
      position: relative;
      border-radius: 20px;
      max-height: 540px;
      margin-right: 10px;
      margin-left: 10px;

      @media only screen and (max-width: 1440px) {
        max-height: 460px;
      }

      @media only screen and (max-width: 1200px) {
        max-height: 460px;
      }

      @media only screen and (max-width: 991px) {
        max-height: 400px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        max-width: 100%;
        margin: 0;
        transition: transform 0.3s ease 0s;
      }
    }
  }

  .glide_controlButton_wrapper {
    margin-top: 30px;
  }
}
