.navbar_wrapper {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 22px 0;
  transition: padding 0.2s ease 0s, background-color 0.1s ease 0s;
  display: flex;
  align-items: center;
  min-height: 56px;
  z-index: 100;
}

.sticky_header {
  padding: 16px 0px !important;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 /10%) 0px 0px 20px;
}

.navbar_wrapper.sticky_header {
  width: 100%;
  .navbar_button {
    color: rgb(25, 25, 25);
  }
}
.navbar_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.Link_wrapper {
  display: inline-block;
  text-decoration: none;
  margin: 0;
}

.navbar_logo {
  display: block;
  width: 128px;
  max-width: 100%;
  margin: 0;
  height: auto;
}

.navbar_btns {
  display: flex;
  align-items: center;
}

.navbar_button {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(198, 198, 198);
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media only screen and (max-width: 1440px) {
    margin-right: 7px;
    font-size: 18px;
  }

  &:focus {
  }
}

.btn-icon {
  display: flex;
}
