#portal {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // width: max-content;
  height: max-content;
}

.modal_backdrop {
  // z-index: 9999 !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  content: '';
  // position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

.modal {
  height: 100vh;
  width: 100%;
  z-index: 99991;
  box-sizing: border-box;
  overflow: hidden;
}

.modal_closeBtn {
  position: fixed !important;
  z-index: 999991 !important;
  top: 10px !important;
  right: 34px !important;
  min-width: 34px !important;
  min-height: 34px !important;
  padding: 0px !important;
  cursor: pointer;
  display: inline-block;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 22px;
}

.modal_wrapper {
  z-index: 9999;
  overflow: hidden auto;
  box-sizing: content-box;
  margin-right: -30px;
  padding-right: 30px !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal_component {
  width: 80%;
  margin: 71px auto;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);

  .modal_content {
    display: flex;
    // flex-wrap: wrap;

    .Box_wrapper {
      position: relative;
      width: 100%;

      @media screen and (min-width: 480px) {
        width: 50%;
      }
      @media only screen and (max-width: 991px) {
        width: 100%;
      }

      &.imgCol {
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }

      .pattern_image {
        width: 100%;
        height: 100%;
        display: block;
        // max-width: 100%;
        object-fit: cover;
        position: absolute;
      }

      &.FormCol {
        padding: 32px 32px 32px 17px;

        @media screen and (min-width: 990px) {
          padding-left: 40px;
        }

        @media screen and (min-width: 768px) {
          padding-left: 38px;
        }

        @media screen and (min-width: 480px) {
          padding-top: 56px;
          padding-left: 32px;
          padding-bottom: 56px;
        }

        .form_logo {
          display: block;
          max-width: 100%;
          width: 128px;
          height: auto;
          margin: 0;
        }
      }
    }
  }
}

.rc-tabs {
  border: 0px;
  max-width: 360px;
  position: relative;
  margin: 30px 0px 0px;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @media only screen and (max-width: 991px) {
    max-width: 100%;
  }

  .rc-tabs-nav {
    display: flex;
    flex: none;
    position: relative;
  }

  .rc-tabs-nav-wrap {
    padding: 0px;
    border-bottom: 1px solid rgb(243, 243, 243);
    width: 100%;
    .rc-tabs-nav-list {
      width: 100%;
      display: flex;
      flex: auto;
      position: relative;
      transition: transform 0.3s;

      .rc-tabs-tab {
        width: 50%;
        margin-right: 0px;
        padding: 13px 0px;
        text-align: center;
        box-sizing: border-box;
        position: relative;
        display: block;
        cursor: pointer;
        transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1) 0s;
        float: left;
        height: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        white-space: nowrap;
        border: 0;
        outline: none;
        align-items: center;

        &.rc-tabs-tab-active {
          color: rgb(16, 142, 233);
          cursor: default;
          transform: translateZ(0px);
          border-bottom: 2px solid rgb(16, 142, 233);
        }

        .rc-tabs-tab-btn {
          font-weight: inherit;
          line-height: 32px;
        }
      }
    }
  }

  .rc-tabs-content-holder {
    flex: auto;

    .rc-tabs-tabpane {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      // width: 100%;
      flex: none;

      h2 {
        font-size: 22px;
        color: rgb(32, 32, 29);
        margin-top: 35px;
        margin-bottom: 10px;
        font-weight: 400;
        letter-spacing: -0.025em;

        @media screen and (min-width: 480px) {
          font-size: 36px;
        }

        @media screen and (min-width: 768px) {
          font-size: 50px;
        }
      }

      p {
        color: rgba(52, 61, 72, 0.8);
        font-size: 15px;
        margin-bottom: 23px;
        margin-left: 1px;
        margin-top: 0px;
        line-height: 26px;
        letter-spacing: -0.025em;
      }
    }
  }
}
